<!DOCTYPE html>
<html>
  <head>
    <title>WarHub</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">WarHub Militaria</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li class="active"><%= link_to "About Us", abouts_path %></li>
        <li class="active"><%= link_to "Contacts", abouts_path %></li>
      </ul>
    </div>
  </nav>

  
  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <div class="container text-center">
      <p>Copyright &copy; WarHub 2018</p>
    </div>
  </footer>
</html>
